@require '../vars.styl'

.page
  padding 20px
  h1
    text-align center

.list
  a
    btn()

.controls
  text-align center

.btn
  btn()

.vizContainer
  display flex
  justify-content center

.lines
  line
    tween transform
