@require './vars.styl'

app-bg = #171B23

*
  box-sizing border-box

html
body
  height 100%
:global #root
  height 100%

body
  background app-bg
  font-family system
  color darken(white, 10%)
  font-size 18px

h1
  margin 20px 0

pre
code
  font-family mono
  padding 2px 5px
  border-radius 3px
  box-shadow inset 0 0 0 1px rgba(16, 22, 26, 0.4)
  background rgba(16, 22, 26, 0.3)
  color #bfccd6

code
  display inline-block


.page
  padding 20px

.siteTitle
  display flex
  align-items center

  +below(420px)
    display block

  img
    display inline-block
    width 80px
    height 80px
    margin-right 20px

    +below(420px)
      display block
      margin 0 auto

.App
  background app-bg
  min-width 320px
  height 100%
  display flex
  flex-direction column

  h1
    color #90a4ae
    font-weight 300
    font-size 52px

  p
    color #c4cbd9
    margin-bottom 20px

.nav
  background #324244
  padding-left 20px
  flex-grow 0
  flex-shrink 0
  box-shadow 0px 6px 15px rgba(0,0,0,0.1)

  a
    display inline-block
    padding 15px
    text-transform uppercase
    text-decoration none
    color accent
    font-weight 300
    font-size 14px
    min-width 50px
    text-align center
    &:hover
      color white

  .active
    background #00695c
    color white

.routeHandler
  flex 1 100%
  overflow auto

.cta
  btn()
  btn-green()

.NotFound
  text-align center
