@require './vars.styl'

.CssPlayground
  padding 20px

box()
  background transparentify(header-green, 0.6)
  border 1px solid header-green
  width 200px
  height @width

.perspective
  box()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%) perspective(500px) rotateY(0deg)
  tween transform
  &:hover

    // Holy shit, note that the order is important here. Translate does not work
    // as expected when used after perspective
    transform translate(-50%, -50%) perspective(500px) rotateY(45deg)

.multiPerspective
  padding 20px
  padding-bottom 0
  display flex
  flex-wrap wrap
  justify-content space-between
  perspective 800px
  &:hover
    .PerspectiveBox
      transform rotateY(45deg)

.PerspectiveBox
  background transparentify(header-green, 0.6)
  border 1px solid header-green
  width 30%
  height 100px
  margin-bottom 20px
  transform rotateY(0deg)
  tween transform

.translateZ
  box()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  background transparent
  border 1px solid darken(white, 40%)
  &:hover
    .box
      transform perspective(600px) translateZ(-260px) rotateZ(15deg)
  .box
    box()
    position absolute
    top -1px // Account for border
    left @top
    transform perspective(600px) translateZ(0px) rotateZ(0deg)
    tween transform

.flipContainer
  position relative
  width 200px
  height 300px
  perspective 800px
  margin 0 auto
  &:hover
    .card
      transform rotateY(180deg)

    .rightCenter
      transform translateX(-100%) rotateY(180deg)

    .leftCenter
      transform translateX(100%) rotateY(180deg)

  &.multi
    display inline-block
    margin 0
    width 300px
    height 400px
    &:not(:last-child)
      margin-right 20px

  .front
  .back
    line-height @height

.card
  transform-style preserve-3d
  transform rotateY(0deg)
  tween transform
  width 100%
  height 100%

  .front
  .back
    backface-visibility hidden
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    text-align center
    font-size 70px

    pre
      text-align left
      position absolute
      top 20%
      left 50%
      transform translateX(-50%)
      font-size 11px
      line-height 11px

  .front
    background header-green
  .back
    background light-green
    transform rotateY(180deg)

.rightCenter
  transform-origin right center

.leftCenter
  transform-origin left center

.cubeContainer
  position relative
  perspective 1000px
  width 200px
  height @width
  margin 0 auto

  .cube
    width 100%
    height @width
    transform-style preserve-3d
    tween all // NOTE: Since we update on mousemove we don't need tween but it makes it smoother

  .face
    position absolute
    margin 0
    width 200px
    height @width
    border 2px solid header-green
    line-height @width
    text-align center
    font-size 70px
    tween all

  .front
    transform rotateY(0deg) translateZ((@width / 2))
  .back
    transform rotateY(180deg) translateZ((@width / 2))
  .right
    transform rotateY(90deg) translateZ((@width / 2))
  .left
    transform rotateY(-90deg) translateZ((@width / 2))
  .top
    transform rotateX(90deg) translateZ((@width / 2))
  .bottom
    transform rotateX(-90deg) translateZ((@width / 2))

