@require './vars.styl'

svg-bg = lighten(#171B23, 5%)

.Playground
  padding 20px

  svg
    background svg-bg
    box-shadow 0px 8px 30px rgba(0,0,0,0.2)

.Box
  h4
    color #58bec7
    font-weight 300

.shape
  fill accent


.btn
  btn()
  btn-gray()
  btn-small()
