mono = Consolas, 'Liberation Mono', Menlo, Courier, monospace
system = 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif
black = #333
main = #1C2855
quick = 0.1s
accent = #89DFC4

// Use with inputs / buttons you don't want users to interact with
uninteractive()
  user-select none
  pointer-events none
  cursor not-allowed

// Just an alias for transition that allows specifying multiple properties up
// front and having them share the same duration and easing. I chose the name
// tween simply because that's what transitions do and I didn't want to
// overwrite standard CSS `transition`
tween(props = all, duration = 0.8s, easing = cubic-bezier(0, 0, 0.25, 1))
  t = ()
  for p in props
    push(t, join(' ', p duration easing))
  transition unquote(join(', ', t))

btn()
  display inline-block
  border 1px solid
  border-radius 3px
  cursor pointer
  vertical-align middle
  min-width 40px
  min-height 40px
  line-height 38px
  padding 0 15px
  font-size 16px
  text-decoration none
  appearance none
  outline none
  tween all quick
  border 1px solid
  border-color rgba(10, 12, 14, 0.8)
  box-shadow 0 1px 1px rgba(10, 12, 14, 0.8)
  color #f5f8fa
  &:active
    box-shadow none

btn-small()
  padding 0 10px
  font-size 14px
  min-width 30px
  min-height 30px
  line-height 28px

btn-gray()
  background linear-gradient(to bottom, rgba(16, 22, 26, 0.1), rgba(16, 22, 26, 0.2)) left no-repeat, center no-repeat rgba(255, 255, 255, 0.1)
  &:hover
    background linear-gradient(to bottom, lighten(rgba(16, 22, 26, 0.1), 5%), lighten(rgba(16, 22, 26, 0.2), 5%)) left no-repeat, center no-repeat rgba(255, 255, 255, 0.13)
  &:active
    background-image none
    background-color rgba(16, 22, 26, 0.1)

btn-green()
  background linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat #0f9960
  &:hover
    background-color #0d8050
  &:active
    background-image none
    background-color #0a6640
